     body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #0f172a;
            color: white;
            scroll-behavior: smooth;
        }

        header {
            text-align: center;
            padding: 30px;
            background: linear-gradient(90deg, #020617, #1e293b);
        }

        header h1 {
            margin: 0;
            font-size: 36px;
        }

        .brand-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            padding: 40px;
        }

        .brand-card {
            width: 280px;
            background-color: #020617;
            border-radius: 15px;
            overflow: hidden;
            text-decoration: none;
            color: white;
            box-shadow: 0 10px 25px rgba(0,0,0,0.5);
            transition: transform 0.3s;
        }

        .brand-card:hover {
            transform: scale(1.05);
        }

        .brand-card img {
            width: 100%;
            height: 180px;
            object-fit: cover;
        }

        .brand-card h2 {
            text-align: center;
            padding: 15px;
        }

        .section {
            padding: 40px 20px;
        }

        .section h2 {
            text-align: center;
            font-size: 32px;
            margin-bottom: 30px;
        }

        .car-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 25px;
        }

        .car-card {
            width: 260px;
            background-color: #020617;
            border-radius: 12px;
            overflow: hidden;
            box-shadow: 0 8px 20px rgba(0,0,0,0.5);
        }

        .car-card img {
            width: 100%;
            height: 160px;
            object-fit: cover;
        }

        .car-card p {
            padding: 15px;
            font-size: 14px;
            text-align: center;
            color: #cbd5f5;
        }

        footer {
            text-align: center;
            padding: 20px;
            background-color: #020617;
            color: #94a3b8;
            font-size: 14px;
        }
         .car-card {
            transition:  0.3s ease, box-shadow 0.3s ease;
        }

          .car-card:hover {
            transform: translateY(-10px) scale(1.05);
            box-shadow: 0 15px 30px rgba(0,0,0,0.7);
        }

#audi .bran
